{% extends "base.html" %}
{% load static %}
{% block content %}
<h1>Admin Page</h1>

<!-- <div class="btn-group float-right">
    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <i class="fas fa-plus"></i>
    </button>
    <div class="dropdown-menu dropdown-menu-right slideInUp">
        <a class="dropdown-item" data-toggle="modal" data-target="#exampleModalCenter" href="javascript:void(0)">Create
            New Board</a>
    
    </div>
</div> -->
<br><br><br>

<!-- <div class="row d-flex justify-content-center">
    <div class="col-lg-3 col-md-6">
        <a href="">
            <div class="card card-hover bg-success">
                <div class="card-body">
                    <div class="d-flex no-block align-items-center">
                        <div class="text-white">
                            <h2>{{teacher}}</h2>
                            <h6>Staffs</h6>
                        </div>
                        <div class="ml-auto">
                            <span class="text-white display-6"><i class="fas fa-users"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div> -->

<!-- Modal for add trello board-->
<!-- <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-info" id="exampleModalLongTitle">Create New Trello Board</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'create_board' %}">
                    {% csrf_token %}
                    <div class="form-group mb-4">
                        <label class="mr-sm-2" for="inlineFormCustomSelect">Name of Board</label>
                        <input type="text" class="form-control" placeholder="Board Name" name="board_name" id="board"
                            required>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-success" type="submit">Create</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div> -->

<!-- modal for add new staffs -->
<div class="modal fade" id="add_staff_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-info" id="exampleModalLongTitle">Add Staffs
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="form-group mb-4">
                        <label class="mr-sm-2" for="inlineFormCustomSelect">Staff's Email</label>
                        <input type="email" class="form-control" placeholder="Email...." name="email" id="email"
                            required>
                    </div>
                    <div class="form-group mb-4">
                        <label class="mr-sm-2" for="inlineFormCustomSelect">Staff's Name</label>
                        <input type="text" class="form-control" placeholder="Name..." name="name" id="email" required>
                    </div>

                    <div class="d-flex justify-content-center">
                        <button class="btn btn-success" type="submit">Add staff & send them auto generated
                            password</button>
                    </div>
                </form>
            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('id_add_class').classList.add('form-control')
    document.getElementById('id_section').classList.add('form-control')
</script>

{% endblock %}