{% extends "base.html" %}
{% load static %}
{% block content %}
<h3>Your Boards</h3>
<br><br>
<div class="row d-flex justify-content-center">
    {% for board in my_boards %}
    <div class="col-lg-3 col-md-6">
        <a href="{% url 'trello_board' board.associated_board.id %}">
            <div class="card card-hover bg-success">
                <div class="card-body">
                    <div class="d-flex no-block align-items-center">
                        <div class="text-white">
                            <h2>{{board.associated_board.board_name}}</h2>
                            <!-- <h6>Staffs</h6> -->
                        </div>
                        <div class="ml-auto">
                            <span class="text-white display-6"><i class="fas fa-clipboard"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}